
@{
    Layout = null;
    Trejeitos.Models.ListProduto lista = (Trejeitos.Models.ListProduto)TempData["carrinho"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Pedido</title>
</head>
<body>
    <div class="page-header" style="height:40px; border-bottom:double;">
        <h1 style="padding-left:10px;">Trejeitos - Sua loja da moda</h1>
    </div>
    <div class="row thumbnail" style="border:1px solid brown; margin:10px">
        <h1>Pedido - Pagamento</h1>
    </div>
    <div class="col-lg-2 thumbnail" style="margin-top:30px;margin-left:10px; margin-right:10px; padding-left:10px;padding-top:30px;border:1px solid brown">
        <label>Número do pedido:</label><br />
        <p>20150415009b1</p>
        <label>Quantidade de itens:</label><br />
        <p>2</p>
        <label>Valor do pedido:</label><br />
        <p>R$299,80</p>
    </div>
    <div class="col-lg-4 thumbnail" style="margin-top:30px; padding-bottom:30px;margin-left:40px; margin-right:10px; padding-left:10px;padding-top:30px;border:1px solid brown">
        <div class="row col-lg-6">
            <label>Pague com cartão de crédito!</label>
            <div style="padding-top:10px">
                <div style="margin-left:10px">
                    <label>Numero do cartão</label> <br />
                    <input type="text" name="cartao" style="width:200px" />
                </div>
                <div class="row" style="margin-left:10px">
                    <label style="padding-top:5px">Nome do Titular</label> <br />
                    <input type="text" name="nome" style="width:220px" />
                </div>
                <div class="row" style="margin-left:10px">
                    <label style="padding-top:5px">Vencimento</label>
                    <div class="row" style="margin-left:10px">
                        <label>Mês</label> <label style="padding-left:50px">Ano</label>
                        <div class="row">
                            <input type="text" name="mes" style="width:50px; margin-left:10px" placeholder="MM" />
                            <input type="text" name="ano" style="width:50px; margin-left:35px" placeholder="AA" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="row col-lg-6" style="padding-left:70px">
            <label>Opções de Parcelamento:</label>
            <label style="padding-top:10px">Parcelamento</label> <br />
            <input type="text" name="parcela" style="width:50px"/> <br />
            <label style="padding-top:20px">Valor da parcela:</label> <br />
            <label style="padding-top:20px">Valor Total:</label> <br />
            <label></label>
        </div>
        </div>
    <div class="col-lg-4 thumbnail" style="margin-top:30px; padding-bottom:30px;margin-left:40px; margin-right:10px; padding-left:10px;padding-top:30px;border:1px solid brown">
        <label>Ou você pode também...</label> <br />
        <div style="text-align:center; padding-top:50px; padding-bottom:50px">
            <button class="btn" type="button">Finalizar seu pedido com boleto bancário</button>
        </div>
    </div>
</body>
</html>
