
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Pedido</title>
</head>
<body>
    <div class="page-header" style="height:40px; border-bottom:double;">
        <h1 style="padding-left:10px;">Trejeitos - Sua loja da moda</h1>
    </div>
    <div class="row thumbnail" style="border:1px solid brown; margin:10px">
        <h1>Pedido - Pagamento</h1>
    </div>
    <div class="col-md-2 thumbnail" style="margin-top:30px;margin-left:10px; margin-right:10px; padding-left:10px;padding-top:30px;border:1px solid brown">
        <label>Número do pedido:</label><br />
        <p>20150415009b1</p>
        <label>Quantidade de itens:</label><br />
        <p>2</p>
        <label>Valor do pedido:</label><br />
        <p>R$299,80</p>
    </div>
    <div class="col-md-2 thumbnail" style="margin-top:30px;margin-left:40px; margin-right:10px; padding-left:10px;padding-top:30px;border:1px solid brown">
        <label>Escolha a forma de pagamento:</label>
        <input type="radio"
</body>
</html>
