
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Cadastro de Clientes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        #control-group {
            width: 400px;
            margin: auto;
        }

        body {
            background-image: url(https://images6.alphacoders.com/313/313679.jpg);
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="well" style="color: maroon;background-color:transparent; border-color:brown ; border-width: 1.5px; text-align:center; font-size: 40px; font-family:'AR JULIAN'">Cadastro</div>
    </div>

    <div class="col-lg-6 col-lg-offset-5">
        <form action="/Cliente/IncluirCliente" method="post">
            <div class="form-group" style="text-align: center">

                <label>Nome</label>
                <input class="form-control" type="text" name="nome" placeholder="Digite o nome" />
            </div>

            <div class="form-group" style="text-align: center">
                <label>CPF</label>
                <input class="form-control" type="text" name="cpf" placeholder="Digite o CPF" />
            </div>

            <div class="form-group" style="text-align: center">
                <label>RG</label>
                <input class="form-control" type="text" name="rg" placeholder="Digite o RG" />
            </div>

            <div class="form-group" style="text-align: center">
                <label>Data de Nascimento</label>
                <input class="form-control" type="text" name="data_nascimento" placeholder="Digite sua Data de Nascimento" />
            </div>

            <div class="form-group" style="text-align: center">
                <label>Endereço</label>
                <input class="form-control" type="text" name="endereco" placeholder="Digite o Endereço" />
            </div>
            <div class="form-group" style="text-align: center">
                <label>Cidade</label>
                <input class="form-control" type="text" name="cidade" placeholder="Digite a Cidade" />
            </div>
            <div class="form-group" style="text-align: center">
                <label>Estado</label>
                <input class="form-control" type="text" name="estado" placeholder="Digite o Estado" />
            </div>

            <div class="form-group" style="text-align: center">
                <label>Telefone/Celular</label>
                <input class="form-control" type="tel" name="telefone" placeholder="Digite o Telefone / Celular" />
            </div>

            <div class="form-group" style="text-align: center; margin-top: 100px">
                <label>Email</label>
                <input class="form-control" type="text" name="email" placeholder="Digite o Email" />
            </div>
            
            <div class="form-group" style="text-align: center">
                <label>Senha de Acesso</label>
                <input class="form-control" type="password" name="senha" placeholder="Digite a Senha" />
            </div>

            <button type="submit" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span>Cadastrar
            </button>

            <a href="/Inicio/Inicio" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span>Voltar
            </a>
        </form>
    </div>

</body>

</html>